@import "bootstrap/bootstrap.less";
@import "_customvariables.less";
@import "_custommixins.less";
@import "_custombootstrapcomponents.less";
@import "_customcomponents.less";

/* ============================== Globals =================================== */
body {
    padding-top: 50px;
    overflow: hidden;
}

@media (max-width: @screen-md) {
    body {
        padding-top: 0px;
    }
}
/* Links */
a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}
/* Lists */
ul, ol {
    list-style: none;
    padding-left: 0;
}
/* Fonts */
.font-script {
    font-family: 'Signika',Arial,sans-serif;
}
/* Loading */
#loading {
    padding: 10px;
    background: @gray-light;
    width: 30px;
    margin-left: -30px;
}
/* ============================== Header ==================================== */
#header {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid @gray;
}
/* ============================== Wrapper =================================== */
#wrapper {
    min-height: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    display: inline-block;
}
/* ============================== Main ====================================== */
#main-wrapper {
    height: 100%;
    overflow-y: auto;
    padding: 50px 0 0px 0;
}

@media (min-width: @screen-md) {
    //because the sidebar is fixed positioned, need to push the content right
    //but only on a large sized screen - on a medium screen the sidebar sits at
    //the top of the page so #main-wrapper shouldn't float anymore
    #main-wrapper {
        float: right;
    }
}

@media (max-width: @screen-md) {
    #main-wrapper {
        padding-top: 0px;
    }
}

#main {
    position: relative;
    height: 100%;
    overflow-y: scroll;
    padding: 0 15px;
}
/* ============================== Sidebar =================================== */
#sidebar-wrapper {
    height: 100%;
    padding: 50px 0 0px 0;
    position: fixed;
    background: @navbar-inverse-bg;
}

@media (max-width: @screen-md) {
    //allows the sidebar to be visible on medium width devices
    #sidebar-wrapper {
        position: static;
        height: auto;
        max-height: 300px;

        .list-group {
            margin-bottom: 0;
        }
    }
}

@media (max-width: @screen-sm) {
    //the header gets a tiny bit taller at this screen size so we need to bump the sidebar down a bit more
    #sidebar-wrapper {
        padding-top: 58px;
    }
}

#sidebar {
    position: relative;
    height: 100%;
    overflow-y: auto;

    > ul {
        > li {
            > a {
                border-right: 3px solid @gray-light;

                > i {
                    font-size: @font-size-large;
                }
            }

            &.active {
                > a {
                    border-right: 3px solid @brand-primary;

                    > i {
                        color: @brand-primary;
                    }
                }
            }
        }
    }

    .list-group-item {
        border-radius: 0;
        border-left: 0;
        border-right: 0;
        border-top: 0;
        background: @body-bg;
    }
}
/* ============================== Pages ===================================== */
#dashboard {
}

#site-sections {
    > .page-content {
        .space-box(@gray-lighter, @gray-light);

        > ul {
            padding: 0 !important;
            margin: 0;
            background: #fff;

            > li.node { //only the first level
                border-bottom-width: 1px;
                border-color: @gray-lighter;
                border-bottom-style: solid;

                a { //any anchor
                    .list-group-item;
                    border-radius: 0 !important;
                    border-top-width: 0px;
                    border-right-width: 0;
                    border-left-width: 1px;
                    border-bottom-width: 1px;
                    border-color: @gray-lighter;
                    color: @text-color;

                    &:hover {
                        background: @brand-info;
                        color: white;
                    }

                    > i {
                        float: left;
                        font-size: 18px;
                        display: block;
                        margin: 0 5px 0 0;
                        padding: 0 2px;
                        width: 10px;
                    }

                    > img {
                        padding-right: 5px;
                        position: relative;
                        top: -2px;
                    }
                }

                > a {
                    border-top-width: 0px;
                    border-right-width: 0;
                    border-left-width: 0px;
                    border-bottom-width: 1px;
                }

                li.node { //any li under the first one
                    padding: 0 0 0 30px;
                }
            }
        }
    }
}

#edit-page {
    > form {
        padding-top: 1px;

        > header {
            position: fixed;
            z-index: 2000;

            > #tab-bar {
            }

            > #toolbar {
                overflow: hidden;
                clear: both;
                margin-top: 5px;

                &.collapsed {
                    height: 39px;
                }
            }

            border-bottom: 1px solid @gray-light;
        }

        > .page-content {
            padding: 240px 0 0 0;

            &.collapsed {
                padding: 170px 0 0 0;
            }

            > .tab-pane {
                > .property {
                    margin: 0 0 50px 210px;

                    > div.property-info {
                        float: left;
                        width: 180px;
                        border-right: 1px solid @gray-light;
                        margin: 0 0 0 -200px;
                        padding: 0 10px 0 0;

                        > .property-name {
                            font-weight: bold;
                        }

                        > .property-desc {
                            color: @gray-light;
                        }
                    }

                    > div.property-control {
                        padding: 10px;

                        > textarea {
                            height: 160px;
                        }

                        > input[type="text"] {
                        }
                    }
                }
            }
        }
    }
}

#media {
    > #media-page-wrapper {
        > #media-files {
            .table;
        }
    }
}
/* ============================== Login Page ================================ */
#account {
    .alert {
        margin-top: 20px;

        ul {
            list-style: disc;
        }
    }
}

#signin {
    margin: 50px 0 0 0;
    .space-box(white, @gray-lighter);
}
