@model CmsLite.Core.Areas.Admin.Models.AdminMenu
@{
    var routeData = Request.RequestContext.RouteData;
    const string activeClass = "active";
    var currentController = routeData.GetRequiredString("controller");
}
<ul class="nav list-group">
    @foreach (var link in Model.Links)
    {
        var cssClass = "";
        if (currentController.ToLower() == link.Text.Replace(" ", "").ToLower())
        {
            cssClass = "active";
        }
        <li class="@cssClass" >
            <a class="list-group-item" href="@link.Url"><i class="@link.IconClass icon-left"></i><span>@link.Text</span></a>
        </li>
    }
</ul>
