/* Content Area */
.content-area {
    padding-left: 20px;
}

/* Space Box */
.space-box(@background, @border-color) {
    .border-radius(@border-radius-base);
    background: @background;

    > .space-box-content {
        .border-radius(@border-radius-base);
        border: 1px solid @border-color;
        padding: 20px;
        overflow: hidden;
    }
}

.space-box-left(@background, @border-color, @inner-border-color) {
    .space-box(@background, @border-color);
    .box-shadow(-1px 0px 0px 0px @inner-border-color);
}

.space-box-right(@background, @border-color, @inner-border-color) {
    .space-box(@background, @border-color);
    .box-shadow(1px 0px 0px 0px @inner-border-color);
}
/* Page Header */
.page-header {
    > h3 {
        > i {
            margin-right: @btn-icon-margin;
        }
    }
}

/* Navs */
.nav {
    &.nav-tabs {
        > li {
            > a {
                > i {
                    margin-right: @btn-icon-margin;
                }
            }
        }
    }
}
