@import "bootstrap/bootstrap.less";
@import "customvariables.less";
@import "custommixins.less";
@import "custombootstrapcomponents.less";
@import "customcomponents.less";

/* ============================== Globals =================================== */
body {
    padding-top: 50px;
    overflow: hidden;
    background: url(images/noise.gif) repeat @gray-light;
}
@media (max-width: @screen-md) {
    body {
        padding-top: 0px;
    }
}
/* Links */
a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}
/* Lists */
ul, ol {
    list-style: none;
    padding-left:0;
}
/* Fonts */
.font-script {
    font-family: 'Signika',Arial,sans-serif;
}
/* Loading */
#loading {
    padding: 10px;
    background: @gray-light;
    width: 30px;
    margin-left: -30px;
}
/* ============================== Header ==================================== */
#header {
    background: @gray-dark;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid @gray;
}
/* ============================== Wrapper =================================== */
#wrapper {
    min-height: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    display: inline-block;
}
/* ============================== Main ====================================== */
#main-wrapper {
    height: 100%;
    overflow-y: auto;
    padding: 50px 0 0px 0;
}
@media (min-width: @screen-md) {        
    //because the sidebar is fixed positioned, need to push the content right
    //but only on a large sized screen - on a medium screen the sidebar sits at
    //the top of the page so #main-wrapper shouldn't float anymore
    #main-wrapper {
        float:right;
    }
}
@media (max-width: @screen-md) {
    #main-wrapper {
        padding-top: 0px;
    }
}
#main {
    position: relative;
    height: 100%;
    overflow-y: scroll;
    padding: 0 15px;
}
/* ============================== Sidebar =================================== */
#sidebar-wrapper {
    height: 100%;
    padding: 50px 0 0px 0;
    position: fixed;
    background: @gray-dark;
}
@media (max-width: @screen-md) { 
    //allows the sidebar to be visible on medium width devices
    #sidebar-wrapper {
        position: static;
        height:auto;
        max-height: 300px;
        .list-group {
            margin-bottom:0;
        }
    }
}
@media (max-width: @screen-sm) {    
    //the header gets a tiny bit taller at this screen size so we need to bump the sidebar down a bit more
    #sidebar-wrapper {
        padding-top:58px;
    }
}
#sidebar {
    position: relative;
    height: 100%;
    overflow-y: auto;

    .list-group-item {
        border-radius: 0;
        border-left: 0;
        border-right: 0;
        border-top: 0;
    }
}
/* ============================== Pages ===================================== */
#dashboard {
}

#site-sections {
    > .page-content {
        border: 1px solid @gray-light;
        background: white;
        padding: 15px 20px;

        > ul {
            border: 1px solid @gray-light;
            background: @gray-lighter;
            padding: 20px 25px;

            .recursiveListStyle {

                &:hover {
                    background: @gray-light;
                }

                > a {
                    display: block;
                    padding: 2px;

                    &:hover, &.active {
                        background: @brand-primary;
                        color: white;
                    }

                    > i {
                        float: left;
                        font-size: 18px;
                        display: block;
                        margin: 0 5px 0 0;
                        padding: 0 2px;
                        width: 10px;
                    }

                    > img {
                        padding-right: 7px;
                    }
                }

                /*> div.context-menu {
                    width: 150px;
                    border: 1px solid @gray-light;
                    background: white;
                    display: none;
                    position: absolute;
                    z-index: 2000;
                    .box-shadow(0px, 0px, 4px, 0, rgba(50, 50, 50, 0.2));

                    > ul {
                        > li {
                            border-top: 1px solid @gray-light;

                            &:first-child {
                                border-top: none;
                            }

                            > a {
                                display: block;
                                padding: 7px 10px;

                                &:hover {
                                    background: @gray-light;
                                }

                                > i {
                                    margin: 0 10px 0 0;
                                }

                                &.context-remove {
                                    > i {
                                        color: red;
                                    }
                                }

                                &.context-add {
                                    > i {
                                        color: green;
                                    }
                                }
                            }
                        }
                    }

                    &:after, &:before {
                        bottom: 99%;
                        border: solid transparent;
                        content: " ";
                        height: 0;
                        width: 0;
                        position: absolute;
                        pointer-events: none;
                    }

                    &:after {
                        border-color: rgba(194, 225, 245, 0);
                        border-bottom-color: white;
                        border-width: 9px;
                        left: 50%;
                        margin-left: -10px;
                    }

                    &:before {
                        border-color: rgba(194, 225, 245, 0);
                        border-bottom-color: @gray-light;
                        border-width: 11px;
                        left: 50%;
                        margin-left: -12px;
                    }
                }*/
            }

            > li.node {
                .recursiveListStyle;

                li.node {
                    .recursiveListStyle;
                    padding: 0 0 0 35px;
                }
            }
        }
    }
}

#edit-page {
    > form {
        padding-top: 1px;

        > header {
            position: fixed;
            z-index: 2000;

            > #tab-bar {
            }

            > #toolbar {
                overflow: hidden;
                clear: both;
                margin-top: -10px;

                &.collapsed {
                    height: 39px;
                }
            }

            border-bottom: 1px solid @gray-light;
        }

        > .page-content {
            padding: 240px 0 0 0;

            &.collapsed {
                padding: 170px 0 0 0;
            }

            > .tab-pane {
                > .property {
                    margin: 0 0 50px 210px;

                    > div.property-info {
                        float: left;
                        width: 180px;
                        border-right: 1px solid @gray-light;
                        margin: 0 0 0 -200px;
                        padding: 0 10px 0 0;

                        > .property-name {
                            font-weight: bold;
                        }

                        > .property-desc {
                            color: @gray-light;
                        }
                    }

                    > div.property-control {
                        padding: 10px;

                        > textarea {
                            height: 160px;
                        }

                        > input[type="text"] {
                        }
                    }
                }
            }
        }
    }
}

#media {
    > #media-page-wrapper {
        > #media-files {
            .table;
        }
    }
}
/* ============================== Login Page ================================ */
#account {
    .alert {
        margin-top:20px;
        ul {
            list-style:disc;
        }
    }
}

#signin {
    margin: 50px 0 0 0;
    border: 1px solid @gray;
    .border-radius(@border-radius-base);
    overflow: hidden;
    padding: 20px;
}
