@model CmsLite.Web.Areas.Admin.Models.DashboardModel
@{
    ViewBag.Title = "Cms Lite - Dashboard";
}
<div id="dashboard">
    <header class="page-header">
        <h3>
            <i class="icon-home"></i>Dashboard</h3>
    </header>
    <div class="page-content">
        
    </div>
</div>
