@model CmsLite.TestApp.Models.Pages.HomeModel
@{
    ViewBag.Title = Model.Title;
}
<style type="text/css">
    #wrapper
    {
        width: 1000px;
        margin: 0 auto;
    }
</style>
<div id="wrapper">
    <div id="page">
        <div id="content">
            @Html.Raw(Model.Foobar)
            @Html.Raw(Model.BannerTextMiddle)
        </div>
    </div>
</div>